
   <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">I love <strong>tomatoes</strong> </h1>
      <p class="lead">I love tomatoes serve in every possible way. Below one of my favourite recipes and some tips.
        E N J O Y ! </p>
        <a class="btn btn-lg" href="http://noemigotuje.blogspot.com/" target="_blank" role="button">
  <div class="button">
      subscription
  </div>
</a>
    </div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/chinh-le-duc.jpg">
          <img src="assets/chinh-le-duc.jpg" alt="Tomato" height="400">
      </a>
      <p class="lead">Small tomatoes you can use in salad or quiche.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/melissa-walker-horn.jpg">
          <img src="assets/melissa-walker-horn.jpg" alt="Tomato2" height="400">
      </a>
      <p class="lead">Add some spinach for more flavour.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/skyla-desig.jpg">
          <img src="assets/skyla-desig.jpg" alt="Tomato3" height="400">
      </a>
      <p class="lead">Quiche with tomatoes, best when hot.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/chad-stembridge.jpg">
          <img src="assets/chad-stembridge.jpg" alt="Tomato4" height="400">
      </a>
      <p class="lead">Fresh broken.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/big-tomatoes.jpg">
          <img src="assets/big-tomatoes.jpg" alt="Tomato5" height="400">
      </a>
      <p class="lead">Cow heart tomatoes.</p>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/jakub-kapusnak.jpg">
          <img src="assets/jakub-kapusnak.jpg" alt="Tomato6" height="400">
      </a>
      <p class="lead">Pasta.</p>
  </div>
</div>

<div class="clear-fix"></div>


