<p> I love tomatoes serve in every possible way. Below one of my favourite recipes and some tips.
   E N J O Y ! </p>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/chinh-le-duc.jpg">
          <img src="assets/chinh-le-duc.jpg" alt="Tomato" height="400">
      </a>
      <div class="desc">Small tomatoes you can use in salad or quiche.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/melissa-walker-horn.jpg">
          <img src="assets/melissa-walker-horn.jpg" alt="Tomato2" height="400">
      </a>
      <div class="desc">Add some spinach for more flavour.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/skyla-desig.jpg">
          <img src="assets/skyla-desig.jpg" alt="Tomato3" height="400">
      </a>
      <div class="desc">Quiche with tomatoes, best when hot.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/chad-stembridge.jpg">
          <img src="assets/chad-stembridge.jpg" alt="Tomato4" height="400">
      </a>
      <div class="desc">Fresh broken.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/big-tomatoes.jpg">
          <img src="assets/big-tomatoes.jpg" alt="Tomato5" height="400">
      </a>
      <div class="desc">Cow heart tomatoes.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/jakub-kapusnak.jpg">
          <img src="assets/jakub-kapusnak.jpg" alt="Tomato6" height="400">
      </a>
      <div class="desc">Pasta.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/becca-tapert.jpg">
          <img src="assets/becca-tapert.jpg" alt="Tomato7" height="400">
      </a>
      <div class="desc">Cooking is fun.</div>
  </div>
</div>

<div class="clear-fix"></div>

<a href="http://noemigotuje.blogspot.com/" target="_blank">
  <div class="button">
      subscription
  </div>
</a>
