<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/tomato.gif">
          <img src="assets/tomato.gif" alt="Tomato" height="400">
      </a>
      <div class="desc"> I love tomatoes.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/tomato2.gif">
          <img src="assets/tomato2.gif" alt="Tomato2" height="400">
      </a>
      <div class="desc">Greek salad.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/tomato3.gif">
          <img src="assets/tomato3.gif" alt="Tomato2" height="400">
      </a>
      <div class="desc">Tomatoes from pan.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <a target="_blank" href="assets/tomato4.gif">
          <img src="assets/tomato4.gif" alt="Tomato2" height="400">
      </a>
      <div class="desc">Basil tomatoes salad.</div>
  </div>
</div>

<div class="clear-fix"></div>

<a href="http://noemigotuje.blogspot.com/" target="_blank">
  <div class="button">
      subscription
  </div>
</a>
