table{
  position: relative;
  border: solid rgb(219, 215, 215) 1px;
  border-collapse: collapse;
  padding:50px;
  margin: 100px 100px;
  width: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

