<div class="table table-responsive table-hover">
  <table col="30">
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Adress </th>
        <th> Amount</th>
        <th> Company</th>
        <th> Age</th>
        <th> Group</th>
        <th> Contact</th>
    </tr>
    <tr>
        <td>1 </td>
        <td>Adam Miller </td>
        <td>Texas </td>
        <td>2 000 000 </td>
        <td>Toyota </td>
        <td>61 </td>
        <td>4 </td>
        <td>adam.miller@gmail.com </td>
    </tr>
    <tr>
        <td>2 </td>
        <td>Peter Adams</td>
        <td>Masovia </td>
        <td>7 000 000 </td>
        <td>EY </td>
        <td>37 </td>
        <td>1 </td>
        <td>peter.adams@gmail.com </td>
    </tr>
    <tr>

        <td colspan="8"><input type="text" id="writeyournote" name="writeyournote" [(ngModel)]="writeyournote"/>  Write your note</td>

    </tr>


</table>
<span>

  {{writeyournote}}
</span>
</div>
