<div class="d-flex flex-row bd-highlight mb-3">
<a routerLink="/travel-mountain">
  <div class="p-2 bd-highlight">
  <picture>
    <source srcset="assets/mikel-ibarluzea.jpg" media="(max-width: 400px)">
    <source srcset="assets/mikel-ibarluzea.jpg">
    <img src="assets/mikel-ibarluzea.jpg" alt="Mountain" class="img-fluid img-thumbnail" style="width:150px; height:auto;">
  </picture>

</div></a>
<div class="p-2 bd-highlight">
<a routerLink="/travel-landscape">
<picture>
  <source srcset="assets/beautiful-dawn-daylight.jpg" media="(max-width: 400px)">
  <source srcset="assets/beautiful-dawn-daylight.jpg">
  <img src="assets/beautiful-dawn-daylight.jpg" alt="Mountain2" class="img-fluid img-thumbnail" style="width:150px; height:auto;">
</picture>
 </a></div>
</div>
