<h1>
Welcome to nmag's cloud. Look around. 👁👁
</h1>
<i>
  * mouse over the cloud
</i>
<div class="clearfix">
<div class="pull-left">
  <span class="small">
    <i class="fa fa-cloud " style="font-size:200px;color:lightpink; margin-left: 125px;  "></i>
    <i class="fa fa-cloud big" style="font-size:600px;color:lightpink; margin-left: 125px;  "></i>
  </span>

</div>
<div class="clearfix">
</div>
<div class="pull-left">
  <div class="dropdown">
    <i class="fa fa-cloud" style="font-size:160px;color:lightblue; margin-left: 85px;"></i>
  </div>
  <div class="clearfix"></div>
<p>
This is my test page in Angular library, look at my opensource  <a href="https://github.com/noemidurzynska/n-magazine" target="_blank" rel="noopener" rel="noreferrer" class="btn btn-secondary"> Github </a>
</p>
<p>
Visit also landing page for mobile application "Footbalers app" that I have created with the same technology Angular.<br/> --> <a href="https://magazineo.pl" target="_blank">Footballers app</a><br/>
Find two hidden easter eggs. <i>Prompt: Double click could be useful.</i>
</p>
</div>
