<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to nmag's cloud. Look around</h1>
    <p class="lead">* mouse over the cloud</p>
  </div>
</div>
<div class="clearfix">
<div class="pull-left">
  <span class="small">
    <i class="fa fa-cloud " style="font-size:200px;color:lightpink; margin-left: 125px;  "></i>
    <i class="fa fa-cloud big" style="font-size:600px;color:lightpink; margin-left: 125px;  "></i>
  </span>
</div>

<div class="pull-left">
  <div class="dropdown">
    <i class="fa fa-cloud" style="font-size:160px;color:lightblue; margin-left: 85px;"></i>
  </div>

<div class="clearfix">
    <div class="container container-fluid">
      <h1 class="display-4">This is my test page in Angular library,</h1>
        <p class="lead"> Look at my opensource </p>
        <a class="btn btn-secondary btn-lg" href="https://github.com/noemidurzynska/n-magazine" target="_blank" rel="noopener" rel="noreferrer" role="button"> Github </a>
    </div>
</div>
